{%if contest_data%}
<h3>BAGBUILDER Competition</h3>
<p>If you want to participate, introduce your data</p>
<form action="/contest/add" method="POST">
    <div class="row g-3">
        <div class="col-auto">
            <label for="discord_user" class="col-form-label">Discord User</label>
        </div>
        <div class="col-auto">
            <input type="text" name="discord_user" class="form-control">
        </div>
        <div class="col-auto">
            <label for="Nickname" class="col-form-label">Nickname</label>
        </div>
        <div class="col-auto">
            <input type="text" name="Nickname" class="form-control">
        </div>
        <div class="col-auto">
            <label for="hash" class="col-form-label">hash</label>
        </div>
        <div class="col-auto">
            <input type="text" name="hash" class="form-control">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<hr style="width:100%;margin-left:0" class="text-center">
If you are participating in the candle challenge, report the time when you bought!
<form action="/contest/candle" method="POST">
    <div class="row g-3">
        <div class="col-auto">
            <label for="discord_user" class="col-form-label">Discord User</label>
        </div>
        <div class="col-auto">
            <input type="text" name="discord_user" class="form-control">
        </div>
        <div class="col-auto">
            <label for="amount" class="col-form-label">Amount</label>
        </div>
        <div class="col-auto">
            <input type="text" name="amount" class="form-control">
        </div>
        <div class="col-auto">
            <label for="date" class="col-form-label">Date and time</label>
        </div>
        <div class="col-auto">
            <input type="text" name="date" class="form-control">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<hr style="width:100%;margin-left:0" class="text-center">
{%if contest_data["error"]%}
<h5>Error: {{contest_data["error"]}}</h5>
<hr style="width:100%;margin-left:0" class="text-center">
{%endif%}
{%if contest_data["message"]%}
<h5>Message: {{contest_data["message"]}}</h5>
<hr style="width:100%;margin-left:0" class="text-center">
{%endif%}
To avoid overloading the explorer, this table updates once an hour.
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nickname</th>
            <th scope="col">Amount</th>
            <th scope="col">Address</th>
            <th scope="col">Comments</th>
        </tr>
    </thead>
    <tbody>    
            {%for i in contest_data["lines"]%}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{i[0]}}</td>
            <td class="text-end">{{i[2]}} SCP</td>
            <td>{{i[1]}}</td>
            <td>{{i[3]}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endif%}