<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/pumpthecoin">Pump the Coin!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/markets">Markets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/spf_earnings">SPF earnings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contest">BAGBUILDER Competition</a>
              </li>
              </ul>
            </div>
          </nav>