{%if grouped_data%}
<div class="row">
    <p>Select the book(s) you want to consider</p>
</div>
{%if grouped_data['error']%}
<div class="row">
    <p>{{grouped_data['error']}}</p>
</div>
{%endif%}
<div class="row">
    <form action="/stats" method="POST">
        <div class="row">
            <div class="form-check col-auto">
                <input class="form-check-input" type="checkbox" value="SXBTC" name="market">
                <label class="form-check-label" for="market">
                    SX-BTC
                </label>
            </div>
            <div class="form-check col-auto">
                <input class="form-check-input" type="checkbox" value="TOBTC" name="market">
                <label class="form-check-label" for="market">
                    TO-BTC
                </label>
            </div>
            <div class="col-auto">
                <label for="max_col" class="col-form-label">Max number of columns</label>
              </div>
              <div class="col-auto">
                <input type="text" name="max_col" class="form-control">
              </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{%if grouped_data|length>1 %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<div class="row">
    <h3 class="text-center">All ask orders: {{grouped_data[3]}} SCP</h3>
</div>
<div class="row">
    <canvas id="chart2" height="50%"></canvas>
    <script>
        // bar chart data
        var barData = {
            labels: [
                {% for item in grouped_data[1] %}
        "{{ item[0] }}",
            {% endfor %}
        ],

        datasets: [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            data: [
                {% for item in grouped_data[1] %}
                   "{{ item[1]}}",
        {% endfor %}
        ]
              }
            ]
          }

        // get bar chart canvas
        var mychart = document.getElementById("chart2").getContext("2d");

        steps = 10
        max = {{ max_a }}

        // draw bar chart
        new Chart(mychart).Bar(barData, {
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines: true,
            barShowStroke: true,
            scaleShowLabels: true
        }
        );
    </script>
</div>
<div class="row">
    <h3 class="text-center">All bid orders: {{grouped_data[2]}} SCP</h3>
</div>
<div class="row">
    <canvas id="chart1" height="50%"></canvas>
    <script>
        // bar chart data
        var barData = {
            labels: [
                {% for item in grouped_data[0] %}
        "{{ item[0] }}",
            {% endfor %}
        ],

        datasets: [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            data: [
                {% for item in grouped_data[0] %}
                   "{{ item[1]}}",
        {% endfor %}
        ]
              }
            ]
          }

        // get bar chart canvas
        var mychart = document.getElementById("chart1").getContext("2d");

        steps = 10
        max = {{ max_b }}

        // draw bar chart
        new Chart(mychart).Bar(barData, {
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines: true,
            barShowStroke: true,
            scaleShowLabels: true
        }
        );
    </script>
</div>
{%endif%}
{%endif%}