{%if grouped_data%}
    <div class="container">
        <div class="row">
            <h2>Trade Ogre orders grouped</h2>
        </div>
        <div class="row">
            <h3 class="col-6">SELL ORDERS</h3>
            <h3 class="col-6">BUY ORDERS</h3>
        </div>
        <div class="row">
                <ul class="col-6">
                    {%for e in grouped_data[1]%}
                    <li>{{e}}</li>        
                    {%endfor%}
                </ul>
                <ul class="col-6">
                    {%for e in grouped_data[0]%}
                    <li>{{e}}</li>        
                    {%endfor%}
                </ul>
        </div>
        <div class="row">
            <h2 class="col-6">Total: {{grouped_data[3]}} SCP</h>
            <h2 class="col-6">Total: {{grouped_data[2]}} SCP</h>
        </div>
    </div>
        {%endif%}